<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0"
    fxLayoutAlign="space-around center">

  
  <div  fxFlex="35" *ngIf="dish" >
    <mat-card height="400px">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image  src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="35"  *ngIf="dish" >

    <mat-card height="400px">
      <mat-card-header>
        <mat-card-title>
          <h3>COMMENTS</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngFor="let comments of dish.comments">
        <p>{{comments.comment}}<br>
        {{comments.rating}}<br>
        --{{comments.author}} {{comments.date | date}}<br><br>
      </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>